.actiPopin {
  padding: 2.5rem;
}

.actiPopinIframeWrapper iframe {
  width: 100%;
  max-height: 65px;
  margin-bottom: 1rem;
}

#block-actipopinblock {
  position: fixed;
  height: auto;
  z-index: 99999;
  display: none;
}

@media (max-width: 768px) {
  #block-actipopinblock.popin-device-phone.actiPoped {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #block-actipopinblock.popin-device-tablet.actiPoped {
    display: block;
  }
}

@media (min-width: 1024px) {
  #block-actipopinblock.popin-device-desktop.actiPoped {
    display: block;
  }
}

#block-actipopinblock.popin-xl {
  width: 530px;
}

#block-actipopinblock.popin-xl.popin-h-middle {
  right: calc(50vw - 265px);
}

@media (max-width: 768px) {
  #block-actipopinblock.popin-xl.popin-h-middle {
    width: 95vw;
    margin: auto;
    right: auto;
  }
}

#block-actipopinblock.popin-sm {
  width: 400px;
}

#block-actipopinblock.popin-sm.popin-h-middle {
  right: calc(50vw - 200px);
}

@media (max-width: 768px) {
  #block-actipopinblock.popin-sm.popin-h-middle {
    width: 90vw;
    margin: auto;
    right: auto;
  }
}

#block-actipopinblock.popin-h-left {
  left: 0;
}

@media (max-width: 768px) {
  #block-actipopinblock.popin-h-left {
    width: 90vw;
    margin: auto;
    right: auto;
  }
}

#block-actipopinblock.popin-h-right {
  right: 0;
}

@media (max-width: 768px) {
  #block-actipopinblock.popin-h-right {
    width: 90vw;
    margin: auto;
    right: auto;
  }
}

#block-actipopinblock.popin-v-up {
  top: 0;
}

#block-actipopinblock.popin-v-down {
  bottom: 0;
}

#block-actipopinblock.popin-v-middle {
  top: 30vh;
}

#block-actipopinblock .popin-close-wrapper {
  background-color: #fff;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#block-actipopinblock .popin-close-wrapper path {
  stroke-width: 3;
}

#block-actipopinblock .popin-close:hover,
#block-actipopinblock .popin-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.actiPopinText {
  padding: 1rem;
}

.actiPopinModal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Preview */
#ActiPopinPreviewBlock {
  height: auto;
  margin: auto;
  width: 530px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#ActiPopinPreviewBlock .actiPopinPrev {
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#ActiPopinPreviewBlock #actiPopinPreviewText {
  line-height: 1.5;
  padding: 10px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

#ActiPopinPreviewBlock #actiPopinPreviewText p {
  margin-top: 0;
  margin-bottom: 10px;
}

#ActiPopinPreviewBlock #actiPopinPreviewText p.text-m {
  font-size: 24px;
}

#ActiPopinPreviewBlock #actiPopinPreviewText p.text-l {
  font-size: 32px;
}

#ActiPopinPreviewBlock #actiPopinPreviewText p.text-xl {
  font-size: 40px;
}

#ActiPopinPreviewBlock img[data-align="right"] {
  float: right;
}

#ActiPopinPreviewBlock img[data-align="left"] {
  float: left;
}

#ActiPopinPreviewBlock img[data-align="center"] {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
/*# sourceMappingURL=acti_popin.css.map */