.actiPopin {
    padding: 2.5rem;
}

.actiPopinIframeWrapper iframe {
    width: 100%;
    max-height: 65px;
    margin-bottom: 1rem;
}

#block-actipopinblock {
    position: fixed;
    height: auto;
    z-index: 99999;
    display: none;
    &.popin-device-phone.actiPoped {
        @media (max-width: '768px') {
            display: block;
          }
    }
    &.popin-device-tablet.actiPoped {
        @media (min-width: '768px') and (max-width: '1024px') {
            display: block;
          }
    }
    &.popin-device-desktop.actiPoped {
        @media (min-width: '1024px') {
            display: block;
        }
    }
    &.popin-xl {
        width: 530px;
        &.popin-h-middle {
            right: calc(50vw - 265px);
            @media (max-width: '768px') {
                width: 95vw;
                margin: auto;
                right: auto;
            }
        }
    }
    &.popin-sm {
        width: 400px;
        &.popin-h-middle {
            right: calc(50vw - 200px);
            @media (max-width: '768px') {
                width: 90vw;
                margin: auto;
                right: auto;
            }
        }
    }
    &.popin-h-left {
        left: 0;
        @media (max-width: '768px') {
            width: 90vw;
            margin: auto;
            right: auto;
        }
    }
    &.popin-h-right {
        right: 0;
        @media (max-width: '768px') {
            width: 90vw;
            margin: auto;
            right: auto;
        }
    }
    &.popin-v-up {
        top: 0;
    }
    &.popin-v-down {
        bottom: 0;
    }
    &.popin-v-middle {
        top: 30vh;
    }
    .popin-close-wrapper {
        background-color: #fff;
        height: 20px;
        width: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        path {
            stroke-width: 3;
        }
    }
    .popin-close:hover,
    .popin-close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.actiPopinText {
    padding: 1rem;
}

.actiPopinModal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

/* Preview */

#ActiPopinPreviewBlock {
    height: auto;
    margin: auto;
    width: 530px;
    box-sizing: border-box;
    .actiPopinPrev {
        padding: 25px;
        box-sizing: border-box;
    }
    #actiPopinPreviewText {
        line-height: 1.5;
        padding: 10px;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        font-size: 16px;
        p {
            margin-top: 0;
            margin-bottom: 10px;
            &.text-m {
                font-size: 24px;
            }
            &.text-l {
                font-size: 32px;
            }
            &.text-xl {
                font-size: 40px;
            }
        }
    }
    img[data-align="right"] {
        float: right;
    }
    img[data-align="left"] {
        float: left;
    }
    img[data-align="center"] {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
