<!-- Add you custom twig html here -->
<div id="ActiPopinPreviewBlock" class="popin-xl">
    <div class="actiPopinPrev">
        <div class="actiPopinIframeWrapper">
            <iframe id="actiPopinPreviewIframe" src="" frameborder="0"></iframe>
        </div>
        <div id="actiPopinPreviewText"></div>
    </div>
</div>