<!-- Add you custom twig html here -->
{# <div class="popin-close-wrapper">
    <span id="popin-close-btn" class="popin-close">&times;</span>
</div> #}
<div class="popin-close-wrapper">
    <svg viewBox="0 0 40 40"><path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" style="stroke: rgb(92, 92, 92);"></path></svg>
</div>
<div class="actiPopin" style="background-color: {{ acti_border_color }};">
    {% if iframe is not null %}
        <div class="actiPopinIframeWrapper">
            <iframe id="actiPopinIframe"src="{{ iframe }}" frameborder="0" style="background-color: {{ acti_iframe_color }};"></iframe>
        </div>
    {% endif %}
    <div class="actiPopinText" style="color: {{ acti_txt_color }}; background-color: {{ acti_couleur_fond }}">
        {{ main_text }}
    </div>
</div>